@charset "UTF-8";
body{
    color: #fff;
}
header,main,section,form,footer{
    background-color: #111;
    
}
.wrapper{
    padding-left:80px;
    padding-right: 80px;
}
.section-title{
    font-size: 80px;
    font-weight: bold;
    padding-top: 160px;
    padding-bottom: 64px;
}
.text{
    font-size: 40px;
    padding-top:24px;
}

/*header*/
.header-wrapper{
    width: 100%;
    padding:16px 80px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;

}
.header-logo{
    font-size: 32px;
    font-weight: bold;
}

nav{
    display:flex;
    justify-content: space-around;
    gap: 32px;
}
.header-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    gap:48px;
}
.header-list a:hover{
    background-color:#333;
    font-size: 20px;
    transition: all 0.5s;
}
.btn{
    width:160px;
    height: 48px;
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    line-height: 48px;
    font-weight:bold;
}
.btn:hover{
    font-size: 20px;
    transition: all 0.5s;
}
.document{
    border: 1px solid #fff;
}
.contact{
    background-color:#F90;
    color: #111;
    margin-right: 24px;
}
/*top*/
.top-wrapper{
    background-image: url(img/top-img.jpeg);
    height: 100vh;
    background-size: cover;
    padding: 80px;
}
.main-title{
    font-size: 192px;
    font-weight: bold;
    padding-top: 288px;
}
/* main */
.main-wrapper{
    border-bottom: 1px solid #fff;
    position: relative;
}
.fes-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    gap: 24px;
}
.fes-items{
    text-align: center;
    width:480px ;
}
.left-btn{
    width: 80px;
    position:absolute;
    left: -20px;
    bottom:25%;
    z-index: 5;
    display: none;
}
.right-btn{
    width: 80px;
    position:absolute;
    right: 0px;
    bottom:25%;
    z-index: 5;
    display: block;
}

.fes-items img{
    width: 480px;
    height:300px ;
}
.item-title{
    text-align: center;
    font-size: 24px;
    padding-top:8px;
}
.back-btn{
    display: flex;
    justify-content: right;
    font-size: 36px;
    padding-top:16px;
    padding-bottom: 64px;
    align-items: center;

}
.back-btn a{
    border-bottom: 1px #fff solid;
    width: auto;
}
.back-btn img{
    width:48px;
}

/*solition*/
.solution-wrapper{
    border-bottom:1px solid #fff ;
}
.solution-items{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom:64px;
    align-items: center;
}
.circle{
    background-color: #F1EFEF;
    width:240px;
    height: 240px;
    border-radius: 50%;
    text-align: center;
    padding:40px;
    grid-row-start: 1;
    grid-row-end:3 ;
    justify-self:center;
}
.circle img{
    width:100%;
}
.solution-title{
    font-size: 48px;
    font-weight: bold;
}

/* form */
.contact-contents{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
}
.contact-text{
    font-size: 32px;
}

.email-input{
    background-color: #F1EFEF;
    border-radius: 2px;
    width: 85%;
    color: #111;
    text-align: left;
}
.text-input{
    background-color: #F1EFEF;
    border-radius: 2px;
    width: 85%;
    color: #111;
    text-align: left;
}
.submit-contents{
    text-align: center;
}
.submit{
    background-color:#F90;
    color: #111;
    margin-top: 64px;
    margin-bottom: 96px;
}

/* footer */
footer{
    background-color: #333;
}
.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px;
}
.footer-logo{
    font-size: 36px;
    font-weight: bold;
}
.footer-list ul{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    gap: 128px;
}
.footer-list li{
    text-align: center;
}
.footer-list a:hover{
    background-color: #848282 ;
    transition:all 0.5s;
}
/* 以下はjquery用 */
.fadeIn{
    opacity: 0;
    transform: translate(-200px,0);
    transition: all 1s;
}
.fadeIn.active{
    transform: translate(0,0);
    opacity: 1;
}

/* 以下はハンバーガーメニュー用 */
.menu-icon{
    display: none;
}
.menu-wrapper{
    padding:16px 40px;
}
.menu{
    display: none;
    width:100%;
    height: 100vh;
    background-color: #111;
}
.menu-cancel{
    display: block;
    width: 32px;
    margin: 4px 8px  0 auto;
}
.menu-list{
    padding-top: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10vh;
}
.menu-list li{
    font-size: 24px;
    display: block;
    width: 180px;
    margin: 0 auto;
}
.menu-btn{
    display: block;
    margin: 0 auto;
}
.menu-list li:hover{
    background-color:#333;
    font-size: 40px;
    transition: all 0.5s;
}



